
*{
  margin: 0;
}

body{
  margin: 0 .2rem;
}

/* navegation - header */
.header{
  background-image: url(tigre.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 36%;
}

.nav{
  padding: .9rem 0;
}

.nav li{
  display: inline;
  text-transform: uppercase;
  margin: 10px;
  color: #ffffff;
}

.nav li:hover{
  border-bottom: 1px solid #ffffff;
}

/* main */
.main{
  margin: 3rem 0;
  display: flex;
}

.main-img img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 4rem;
  border-radius: 50%;
}

.main-information{
  margin: 2rem 4rem;
}

.main-link{
  margin: 2rem 0;
}

.main-link a{
  background-color: #000000;
  padding: 8px 8px;
  color: white;
  border-radius: 3px;
  text-decoration: none;
}

.main-link a:hover{
  color: #000000;
  background-color: #ffffff;
}

/* galeria */

.main-galery{
  width: 80%;
  margin: auto;
}

.main-galery-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.main-galery-animals{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2px;
  margin: 2rem 0;
}

.main-galery-animals img {
  width: 200px;
  height: 210px;
  justify-self: center;
  object-fit: cover;
}

.main-galery-animals img:hover{
  animation: effectAnimals 1.1s forwards;
}

@keyframes effectAnimals{
  100%{
    transform: scale(1.1);
  }
}

/* main coments */
.main-coments{
  margin: 6rem 0;
}

.main-coments h3{
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.comentars-user{
  display: flex;
}

.comentars-user  > .coment{
  margin: 10px;
  background-color: #faf9f6;
  padding: 25px 15px;
  width: 340px;
  margin: auto;
  box-shadow: 1px 3px 4px black;
}

/* footer */

.footer{
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 85% 15%;
  padding: 2em;
  background: #f8f3e2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #f8f3e2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #f8f3e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer-contacts > p{
  padding: 5px 0;
  font-weight: 800;
}

.footer-socialMedia i{
  margin: 10px;
}

.footer-socialMedia i:hover{
  cursor: pointer;
  animation: 2s effectAnimals forwards;
}

/* responsive device */

@media only screen and (max-width: 1024px)
{
  .header{
   background-position: top; 
   background: url('./elefante.jpg');
   background-size: cover;
  }

  .main {
    display: inline-block;
  }
  .main .main-img{
    text-align: center;
  }

  .main-galery-animals{
    grid-template-rows: repeat(2, autto);
    grid-template-columns: repeat(2, auto);
  }

  .comentars-user {
    display: inline;
  }

  .comentars-user .coment{
    margin: 4rem auto;
    width: 28rem;
  }

}

@media only screen and (max-width: 500px) {
  
  .header{
    background-position-x: 65%;
  }

  .nav li{
    font-size: small;
  }
  
  .main-galery-animals{
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .main-galery-animals img{
    margin: .3rem 0;
  }

}
