.grid_container{
  display:grid;
  grid-template-areas:
  "header header header"
  "aside main main"
  "aside main main"
  "footer footer footer";
  grid-template-areas: 1fr 1fr 1fr 1fr
}

.grid_item{
  padding: 30px;
}

.grid_header{
  background: #6f9;
  grid-area: header
}

.grid_aside{
  background: #4a2;
  grid-area: aside
}

.grid_main{
  background: #d01;
  grid-area: main
}


.grid_footer{
  background: #36f;
  grid-area: footer
}
